.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1232px;
  margin: 60px -46px;
}

.u-section-1 .u-image-1 {
  min-height: 623px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/20170731105151-graphicstock-common-modern-business-skyscrapers-high-rise-buildings-architecture-raising-to-the-sky-sun-concepts-of-financial-economics-future-etc-h-dvsowxsx-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 623px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 51px 0;
}

.u-section-1 .u-text-1 {
  margin: 52px 0 0 9px;
}

.u-section-1 .u-text-2 {
  margin: 31px 0 0 9px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 31px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 342px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1495px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 841px;
  font-size: 3rem;
  margin: 54px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 505px;
  background-image: url("../images/state-bank-of-india-horsefair-street-leicester-england-uk-D744TK.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 517px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 40px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 792px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 41px 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -61px 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 792px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 41px 46px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 23px 20px 0 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1875px;
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 653px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 653px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -26px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 821px;
    background-position: 45.56% 54.67%;
    background-size: auto 115%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 821px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 67px;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1111px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 1111px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 586px;
    background-size: 115%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin: 177px 13px -110px 7px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 1;
    min-height: 271px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: -496px;
    margin-right: 16px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 261px;
    margin-right: 16px;
    margin-left: 4px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 0;
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin: 190px 10px -246px 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-2 .u-text-2 {
    margin: 168px 0 -54px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -797px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 399px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 414px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin: 255px 0 -253px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 2656px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  width: 780px;
  margin: 90px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1158px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 392px;
  width: 549px;
  margin: 50px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 113px 36px 0 181px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1158px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 44px 48px 0 33px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 1112px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -9px 36px 0 181px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 975px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 599px;
  height: 459px;
  margin: 27px auto 0 7px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1418px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 955px;
  }

  .u-section-3 .u-image-1 {
    height: 336px;
    width: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1548px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 53px;
    padding-right: 53px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 917px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 804px;
  }

  .u-section-3 .u-image-2 {
    width: 470px;
    height: 360px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1199px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 257px;
    width: 360px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 616px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 276px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2837px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 125px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    margin-top: -50px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 27px;
    margin-right: 44px;
    margin-left: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 932px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin: 522px 34px -40px;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 1;
    min-height: 223px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -1416px;
    margin-right: 23px;
    margin-left: 44px;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 0;
    min-height: 794px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    margin-top: -912px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2645px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 61px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 124px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-image-1 {
    height: 162px;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 500px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 174px;
    margin-top: -1094px;
    margin-right: 48px;
  }
}

.u-block-210b-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-210b-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-210b-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-210b-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-210b-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-4 {
  background-image: none;
  min-height: 842px;
}

.u-section-4 .u-text-1 {
  margin: -224px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 202px);
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 16px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1016px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 475px;
  height: 297px;
  margin: 60px 16px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 41px 4px 0 167px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1016px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  width: 486px;
  font-style: normal;
  margin: 77px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 703px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 62px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 838px;
  }

  .u-section-4 .u-image-1 {
    width: 465px;
    height: 291px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 71px;
    width: 465px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 838px;
  }

  .u-section-4 .u-text-3 {
    width: 465px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1473px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2) + 25px);
    margin-left: calc(((100% - 720px) / 2) + -25px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: -18px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1287px;
  }

  .u-section-4 .u-image-1 {
    width: 355px;
    height: 222px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1287px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1048px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -806px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 598px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-4 .u-image-1 {
    width: 521px;
    margin-top: -544px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
    margin-right: 63px;
    margin-left: 73px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    font-style: italic;
    margin-top: -355px;
    margin-right: 60px;
    margin-left: 73px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 50vw;
  }

  .u-section-4 .u-text-1 {
    margin-top: -433px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 224px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 145px;
    margin-top: -161px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin: 54px 36px -340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 671px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin: 338px 36px -237px;
  }
}